<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.diagnostics>
		<sources>
			<source name="System.ServiceModel" switchValue="Error" propagateActivity="true">
				<listeners>
					<add name="traceListener" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Log\server1.svclog" />
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging">
				<listeners>
					<add name="messages" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\Log\server_messages.svclog" />
				</listeners>
			</source>
		</sources>
	</system.diagnostics>
  <!--
  <connectionStrings>
    <add connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\lex\Desktop\WcfService1\App_Data\Database2.mdf;Integrated Security=SSPI;User Instance=True" name="dbString" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  -->
  
  <connectionStrings>
      <!-- localhost key-->
    <add name="dbString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Database2;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <customErrors mode="Off"/>

  </system.web>
  <system.serviceModel>
	<diagnostics>
	  <messageLogging logEntireMessage="true" logMalformedMessages="false" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" maxMessagesToLog="3000" maxSizeOfMessageToLog="2000" />
	</diagnostics>	  
	  
    <behaviors>
      
      <endpointBehaviors>
        <behavior name="webEndpointBehavior">
          <webHttp />
        </behavior>

        <behavior name="jsonBehavior">
          <enableWebScript/>
        </behavior>        
      </endpointBehaviors>

      
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service name="Network.Service1">
        <endpoint address="" behaviorConfiguration="webEndpointBehavior" binding="webHttpBinding" bindingConfiguration="" contract="Network.IService1" />
      </service>
    </services>
    
   
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
    <system.net>
        <mailSettings>
            <smtp from="gimmepaw1@gmail.com">
                <network host="gimmepaw" />
            </smtp>
        </mailSettings>
    </system.net>

</configuration>
